body{
    margin: 0;
    display: block;
    color: #677082; /*for text*/
    font-family: Arial;
    background-color: rgb(243, 181, 124);
    
}

.frame{
    --block-size:35px;
    background-color: rgb(204, 234, 170);
    border-radius: 15px;

    /*centralize frame*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;

}

.board{
    display: grid;
    /*construct a board 12 x 12 | the const ROW & COL in script control the amount*/
    grid-template-columns: repeat(12, var(--block-size));
    grid-template-rows: repeat(12, var(--block-size));

}

/*Style the maze*/

.block {
    /*general block configuration*/
    width: var(--block-size);
    height: var(--block-size);
    border-radius: 15px;
}

.empty{
    background: white;
}

.wall{
    background: green; 
    box-sizing: border-box;
}

.harvestItens{
    background: rgb(25, 70, 161); 
    box-sizing: border-box;
}

.exit{
    background: rgb(150, 150, 150); 
    box-sizing: border-box;
}

.player{
    background: rgb(192, 212, 9); 
    box-sizing: border-box;
}

/*Score and texts*/
.harvest-count,
.footer {
    line-height: 35px;
    padding-left: 15px;
}

.harvest-count {
    float: right;
}

.footer {
    text-align: center
}

.help {
    float: left;
    font-size: 0.9em;
    line-height: var(--block-size)
}

